<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantesnight">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_comida"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_comida"
        android:supportsRtl="true"
        android:theme="@style/Theme.RestaurantesNight">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/borde_redondo" />

        <activity android:name=".IU.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IU.Mesas_activity">
        </activity>
        <activity android:name=".IU.Reservas_Activity">
        </activity>
        <activity android:name=".IU.Listar_reservas_activity">
        </activity>
    </application>

</manifest>